.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #880e4f;
  color: white;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  padding: 0.5rem 1rem;
  background-color: #f8bbd0;
  margin-left: 1rem;
  color: #282c34;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;

}

nav a:hover {
  background-color: #c2185b;
  color: white;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.logout-btn {
  padding: 4px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.app-header > div {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .app-header > div {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}